.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1;
}

.center-flex {
  display: flex;
  align-items: center;
}

.line-marker {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.driving-bus, .waiting-bus {
  text-align: center;
  font-weight: bold;
  color: azure;
  background: #444;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.waiting-bus::after {
  content: url("/assets/stop.svg");
  position: absolute;
  left: 15px;
  top: 10px;
}
