.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1;
}

.center-flex {
  display: flex;
  align-items: center;
}

.line-marker {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.map-marker {
  text-align: center;
  font-weight: bold;
  color: azure;
  background: #444;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
